@charset "UTF-8";

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	color: #555555;
	text-align: center;
}

#body-wrapper {
	margin: 0 auto;
	width: 90%;
	max-width: 840px;
}

h1 {
	text-align: center;
	font-size: 28pt;
}

a {
	color: #f55573;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a.link {
	margin: 1.5rem 0.5rem;
	padding: 1rem 2.8rem;
	outline: none;
	border: none;
	border-radius: 0.3rem;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	color: white;
	font-family: "Merriweather", serif;
	font-size: 1.4rem;
	text-transform: uppercase;
	box-shadow: inset 0 -0.2rrem rgba(0, 0, 0, 0.1);
	transition: all 0.2s ease-out;
	background-color: #1ba5a5;
	text-decoration: none;
}
a.link:active {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
}

#image {
	margin: 0 auto;
}
#image:before {
	content: '';
}
.feature {
	margin: 12px;
	width: 29%;
	display: inline-block;
	float: left;
}
.feature .fa {
	width: 130px;
	height: 130px;
	font-size: 60px;
	line-height: 130px;
	text-align: center;
	display: inline-block;
	background-color: #f55573;
	color: #ffffff;
	border-radius: 50%;
}
.feature h2 {
	margin: 0.6rem 0;
	height: 2.4rem;
	font-size: 1.3rem;
}
.feature p {
	font-size: 0.9rem;
	line-height: 1.6rem;
	text-align: left;
}
.feature small {
	color: #777777;
	font-size: 0.8rem;
	line-height: 1.3rem;
}

hr {
	height: 0;
	clear: both;
	border: none;
}

#footer {
	margin: 0;
	padding: 16px;
	width: 100%;
	background: #efefef;
	color: #888888;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-device-width: 1080px), only screen and (min--moz-device-pixel-ratio: 1.5) and (max-device-width: 1080px), only screen and (-o-min-device-pixel-ratio: 1.5 / 1) and (max-device-width: 1080px), only screen and (min-resolution: 144dpi) and (max-device-width: 1080px), only screen and (min-resolution: 1.5dppx) and (max-device-width: 1080px) {
	.feature {
		width: 100%;
	}
}
@media screen and (max-width: 580px) {
	#image {
		width: 100%;
		height: auto;
	}
	.feature {
		width: 100%;
	}
}