@charset "UTF-8";

@import "_mixin";
@import "_normalize";

//========================
// Variables
//========================

$color-white: #ffffff;
$color-green: #1ba5a5;
$color-yellow: #f9d76d;
$color-light: #efefef;
$color-gray: #aaaaaa;
$color-dark: #555555;
$color-black: #000000;

$link: $color-green;
$hover: darken($link,8%);

$font-sans-serif: 'Roboto', sans-serif;
$font-serif: 'Merriweather', Georgia, "Times New Roman", Times, serif;


/* Main
   ========================================================================== */

* {
	box-sizing: border-box;
}
html {
	font-size: 12px;
}

body {
	background: $color-white;
	color: $color-dark;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
}
#body-wrapper {
	display: table;
	table-layout: fixed;
	position: relative;
	height: 100%;
	width: 100%;
}
.wrapper {
	margin: 37.5px 0;
	padding: 37.5px;
}

/* リンク */
a {
	color: $link;
	text-decoration: none;
	&:not(#scroll-to-top):not(.btn):not(.banner):hover, {
		border-bottom: 3px solid $color-yellow;
	}
}

/* 画像 */
img {
	vertical-align: top;
}

/* 見出し */
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	-webkit-font-smoothing: antialiased;
}
h1,
h2 {
	font-family: $font-serif;
}
h1 {
	font-size: 3.6rem;
	font-weight: 900;
	line-height: 1.12rem;
	text-align: center;
}
h2 {
	display: flex;
	align-items: center;
	text-align: center;
	color: $color-gray;
	font-size: 2.4rem;
	font-weight: normal;
	&:before,
	&:after {
		border-top: 1px solid $color-gray;
		content: '';
		display: inline; /* for IE */
		flex-grow: 1;
	}
	&:before {
		margin-right: 0.5em;
	}
	&:after {
		margin-left: 0.5em;
	}
}

/* 寄せ */
.left {
	text-align: left;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}

/* セクション */
section {
	display: block;
	margin-bottom: 5rem;
	@include clearfix;
}

/* 定義リスト */
dl {
	margin: 20px auto;
	overflow: hidden;
	position: relative;
	dt {
		float: left;
		width: 28%;
		clear: both;
		padding: 3px 2% 15px 0;
		position: relative;
		
	}
	dd {
		float: right;
		width: 67%;
		margin: 0;
		padding: 3px 0 15px 3%;
	}
	&.contact-form {
		dt {
			width: 36%;
			text-align: right;
			position: relative;
			top: 5px;
		}
		dd {
			width: 62%;
		}
	}
}

/* 整形済みテキスト */
pre {
	padding: 0.5rem;
	width: 98%;
	background: darken($color-white, 8%);
	border: 1px solid darken($color-white, 16%);
	@include border-radius(0.2em);
	font-size: 0.9em;
	font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
	white-space: pre;
	white-space: pre-wrap;
}

/* Enterページ的なやつ */
#enter {
	margin: 0;
	position: absolute;
	background-color: $color-white;
	@include transition(0.8s);
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 20% 2em;
	@include opacity(0);
	&.show {
		z-index: 99999;
		@include opacity(1);
	}
}
#button-enter {
	margin-top: 2em;
}

/* アイキャッチ */
#eyecatch {
	margin: 0 auto;
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	position: relative;
	color: $color-white;
	h1 {
		@include no-margin;
		line-height: 480px;
	}
}

/* ナビゲーションメニュー */
#navbar {
	@include no-margin;
	position: absolute;
	z-index: 999;
	top: 0;
	width: 100%;
	background-color: lighten($color-black, 8%);
}
#nav {
	@include no-margin;
	@include no-bullets;
	float: left;
	li {
		@include inline-block;
		margin: 0;
		position: relative;
		font-family: $font-sans-serif;
		font-weight: bold;
		text-transform: uppercase;
		background-color: transparent;
	}
	a {
		position: relative;
		display: block;
		padding: 10px 15px;
		text-decoration: none;
		box-sizing: border-box;
		color: $color-white;
		&:hover {
			border: 0px !important;
			.nav-label {
				border-bottom: 3px solid $color-yellow;
			}
		}
	}
}
#nav-opener {
	display: none;
}
#nav-opener-check {
	display: none;
}

/* 最上部へスクロールするボタン */
#scroll-to-top {
	position: fixed;
	z-index: 99;
	bottom: 10px;
	right: 10px;
	font-size: 5rem;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.6);
	@include border-radius(0.4em);
	@include transition(0.3s, 0.2s);
	&:hover {
		color: rgba(0, 0, 0, 0.8);
	}
}

///* 表紙 */
#cover {
}

///* フライヤー */
#flier-paper {
}

/* ダミー */
.dummy {
	text-align: center;
	position: relative;
	&:before {
		content: '';
		display: block;
		width: 100%;
		vertical-align: middle;
		z-index: 0;
		background-color: $color-light;
		background-image: linear-gradient(
			-45deg,
			$color-green 25%,
			$color-gray 25%, $color-gray 50%,
			$color-green 50%, $color-green 75%,
			$color-gray 75%, $color-gray
			);
		background-size: 16px 16px;
	}
	&:after {
		color: $color-white;
		font-family: $font-sans-serif;
		z-index: 1;
		position: absolute;
		top: 50%;
		right: 0;
		left: 0;
	}
	* {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
	}
}

/* 紙ものを格納する要素 */
.paper {
	margin: 0 1rem 1rem 0;
	float: left;
	width: 36%;
	height: auto;
	img {
		width: 100%;
		min-width: 250px;
		height: auto;
	}
	&.dummy:before {
		padding-top: 141.4%;
	}
	&.dummy:after {
		content: 'Now Printing';
		font-size: 2.4rem;
	}
}

/* 概要 */
#spec {
	@include clearfix;
	dt {
		&:before {
			content: "";
			width: 30px;
			position: absolute;
			border-top: 1px solid #333;
			top: -5px;
			right: -15px;
		}
		&:after {
			content: "";
			width: 5px;
			height: 5px;
			background: #333;
			position: absolute;
			border-radius: 50%;
			top: -7px;
			right: -3px;
		}
	}
	&:before {
		content: "";
		width: 1px;
		position: absolute;
		border-left: 1px solid #333;
		top: 0;
		bottom: 0;
		left: 28%;
	}
	ul {
		@include no-margin;
	}
}

/* ソーシャルメディア */
#share {
	@include no-margin;
	margin-top: 2rem;
	@include no-bullets;
	text-align: center;
	li {
		@include inline-block;
	}
}
.btn {
	i{
		margin-right: 0.2rem;
	}
}
.btn.twitter {
	@include background-color-hover(#55acee);
}
.btn.facebook {
	@include background-color-hover(#3b5998);
}
.btn.line {
	@include background-color-hover(#00c300);
	display: none;
}
.social-count {
	margin: 0 auto 12px auto;
	padding: 8px 0;
	position: relative;
	width: 95%;
	color: #777777;
	font-size: 1.1em;
	text-align: center;
	background: $color-white;
	border: 1px solid $color-light;
	@include border-radius(0.3rem);
	&:after,
	&:before{
		position: absolute;
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: ' ';
		height: 0;
		width: 0;
		pointer-events: none;
	}
	&:after {
		border-color: rgba(255, 255, 255, 0);
		border-top-color: $color-white;
		border-width: 10px;
		margin-left: -10px;
	}
	&:before {
		border-color: rgba(175, 175, 175, 0);
		border-top-color: $color-light;
		border-width: 11px;
		margin-left: -11px;
	}
	a {
		color: $color-dark;
		display: block;
		width: 80%;
		margin: auto;
	}
}

/* サンプル一覧 */
#sample-list {
	@include no-bullets;
	margin: 0 auto;
	text-align: center;
	@include clearfix;
	li {
		@include inline-block;
		position: relative;
		overflow: hidden;
		width: 32.7%;
		margin: 0.3%;
		float: left;
		@include border-radius(0.5rem);
		.sample-caption.on {
			bottom: 0;
		}
	}
}
.sample-img {
	background-size: cover;
	background-position: center 20%;
	background-repeat: no-repeat;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	&:before {
		content: '';
		display: block;
		padding-top: 100%;
	}
}
.banner {
	@include inline-block;
	width: 200px;
	&.dummy:after {
		margin-top: -6%;
		top: 50%;
	}
	&.dummy {
		&:before {
			padding-top: 20%;
			@include border-radius(0.25rem);
		}
		&:after {
			content: 'no banner';
			font-size: 13px;
		}
	}
}
.sample-caption {
	position: absolute;
	bottom: -70%;
	left: 0;
	z-index: 2;
	padding: 0.5rem;
	width: 100%;
	height: 100%;
	color: $color-white;
	background: rgba(0, 0, 0, 0.6);
	text-align: left;
	@include transition(0.5s, 0.2s);
	p {
		@include no-margin;
		margin-bottom: 0.2rem;
		z-index: 9;
		@include opacity(0);
		@include transition(0.5s, 0.2s);
	}
	img {
		width: 200px;
	}
}
.caption-toggle {
	float: right;
	font-size: 2rem;
	cursor: pointer;
	z-index: 99;
	@include transition(0.5s, 0.2s);
	&:before {
		content: '\f0fe';
	}
	.on &:before {
		content: '\f146';
	}
	&+p {
		@include opacity(1);
	}
}
.on p {
	@include opacity(1);
}

/* ソーシャルメディアアイコン */
.icon-pixiv {
	background: url(../img/icons/pixiv@2x.png);
}
.icon-twitter {
	background: url(../img/icons/twitter@2x.png);
}
.icon-novelist {
	background-image: url(../img/icons/novelist@2x.png);
}
.icon-tinami {
	background-image: url(../img/icons/tinami@2x.png);
}
.icon-tumblr {
	background-image: url(../img/icons/tumblr@2x.png);
}
.icon-facebook {
	background-image: url(../img/icons/facebook@2x.png);
}
.icon-piapro {
	background-image: url(../img/icons/piapro@2x.png);
}
.icon-soundcloud {
	background-image: url(../img/icons/soundcloud@2x.png);
}
.icon-nicovideo {
	background-image: url(../img/icons/nicovideo@2x.png);
}
.icon-disabled {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}
.icon-social {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: text-top;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

/* テキストボックス、テキストエリア */
input[type='text'],
textarea {
	padding: 0.3rem;
	width: 24rem;
	max-width: 95%;
	border: 1px solid $color-gray;
	@include border-radius(0.3rem);
	outline: none;
	&:focus {
		border-color: $color-green;
	}
}
input[type='text'] {
}
textarea {
	height: 7rem;
}

/* ボタン */
button,
input[type='submit'],
input[type='reset'],
.btn {
	margin: 3px;
	padding: 0.7rem 2rem;
	font-size: 1.1rem;
	outline: none;
	border: none;
	@include border-radius(0.3em);
	@include inline-block;
	color: $color-white;
	font-family: $font-sans-serif;
	text-transform: uppercase;
	box-shadow: inset 0 -0.2rem rgba(0, 0, 0, 0.1);
	@include transition(0.2s);
	cursor: pointer;
	@include background-color-hover($color-gray);
	&:hover {
		text-decoration: none;
	}
	&:active {
		box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
	}
	.icon {
		margin: 0.1rem;
		width: 1rem;
		height: 1rem;
	}
}
button[type='submit'],
input[type='submit'],
.submit {
	@include background-color-hover($color-green);
}

/* チェックボックス、ラジオボタン */
input[type="checkbox"],
input[type="radio"] {
	@include opacity(0);
	position: absolute;
	&+i {
		margin-right: 0.2rem;
		font-size: 1.2rem;
		width: 1.2rem;
		vertical-align: middle;
	}
}
input[type="checkbox"]{
	&+i:before {
		content: '\f096';
	}
	&:checked+i:before {
		content: "\f14a";
	}
}
input[type="radio"]{
	&+i:before {
		content: '\f10c';
	}
	&:checked+i:before {
		content: "\f192";
	}
}

/* フッター */
#footer {
	margin-bottom: 0;
	background: $color-gray;
	color: $color-white;
	&>div {
		margin: 0;
		padding: 1rem;
		width: 50%;
		float: left;
	}
}
#credit {
	margin-top: 2rem;
	text-align: center;
	clear: both;
	font-family: $font-serif;
	font-size: 0.9rem;
}

@import "_media-queries";